<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
    <%= @user.name.present? ? @user.name : @user.email %>

    <h1><%= @article.title %></h1>

    <p>
      <%= raw @article.description %>
    </p>

    @unsubscribe
</body>
</html>