<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <% Category.all.each do |item| %>
        <li role="presentation"
            <% if item.id == params[:category].to_i %> class="active" <% end %>
        ><%= link_to item.title, root_path(:category => item.id) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>

    <% @articles.each do |article| %>
        <%= render article %>
    <% end %>

    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
  </div>
</div>